###### teiler configuration file ######

DMENURC="${DMENURC:-$HOME/.config/dmenurc}"
source $DMENURC


#   general options

img_path=$HOME/Pictures/Screenshots
SCREENCAST_PIDFILE=/tmp/$USER-teiler-screencast.pid
INDICATOR_PIDFILE=/tmp/$USER-teiler-indicator.pid
time=1000
filemask=$(date +teiler-"%Y%m%d%H%M%S")



#   Uploading & archiving options

ul=fb
archive_vid=1
archive_img=1
res=1920x1080



#   Scp options

scp_host=
scp_path_img=
scp_path_vid=
http_img=
http_vid=



#   Ffmpeg settings

encopts=(
    '-f'        'x11grab' 
    '-s'        "$res"
    '-i'        "$DISPLAY+0,0"
    '-r'        '25'
    '-quality'  'good'
    '-cpu-used' '0'
    '-b:v'      '5000k'
    '-qmin'     '10'
    '-qmax'     '42'
    '-bufsize'  '1000k'
    '-threads'  '4')



#   record indicator

rec_text="capturing..."
rec_w="100"
rec_x="3400"
rec_y="0"
rec_font="PragmataPro-10"
rec_nf="#FFFFFF"
rec_sf="#000000"



#   Menu Constructs

dmenu_defaults=(
    '-l'   '15'
    '-fn'  "$font"
    '-nf'  "$nf"
    '-nb'  "$nb"
    '-sf'  "$sf"
    '-sb'  "$sb"
    '-o'   '90')
dmenu=($dmenu_defaults)

simpleswitcher_defaults=(
    '-font' "$font"
    '-fg'   "$nf"
    '-bg'   "$nb"
    '-hlfg' "$sf"
    '-hlbg' "$sb"
    '-bc'   "$bc"
    '-o'    '80'
    '-dmenu')
simpleswitcher=($simpleswitcher_defaults)
