###### teiler configuration file ######

source $HOME/.config/dmenurc


#   general options

img_path=$HOME/Pictures/Screenshots
SCREENCAST_PIDFILE=/tmp/$USER-teiler-screencast.pid
INDICATOR_PIDFILE=/tmp/$USER-teiler-indicator.pid
time=1000
namekey=screen
filemask=$(date +"$namekey"-"%Y%m%d%H%M%S")



#   Uploading & archiving options

ul=scp
archive_vid=1
archive_img=1
res=1920x1080



#   Scp options

scp_host=
scp_path_img=
scp_path_vid=
http_img=
http_vid=



#   Ffmpeg settings

encopts="-r 25 \
         -quality good \
         -cpu-used 0 \
         -b:v 5000k \
         -qmin 10 \
         -qmax 42 \
         -bufsize 1000k \
         -threads 4"

ffmpeg_display=:0
ffmpeg_x_offset=2560

ffaudio="-f alsa \
         -ac 2 \
         -i pulse"



#   record indicator

rec_text="capturing..."
rec_w="100"
rec_x="800"
rec_y="0"
rec_font="Inconsolata-10"
rec_nf="#FFFFFF"
rec_sf="#000000"
