###### teiler configuration file ######

source $HOME/.config/dmenurc


#   general options

img_path=$HOME/Pictures/Screenshots
paste_path=$HOME/Pictures/Paste
vid_path=$HOME/Videos/Screencasts

SCREENCAST_PIDFILE=/tmp/$USER-teiler-screencast.pid
INDICATOR_PIDFILE=/tmp/$USER-teiler-indicator.pid
time=1000
namekey=teiler
img_filemask=$(date +"$namekey-screen"-"%Y%m%d%H%M%S")
vid_filemask=$(date +"$namekey-cast"-"%Y%m%d%H%M%S")
paste_filemask=$(date +"%Y%m%d%H%M%S")



#   Uploading & archiving options
#   Possible Choices for ul and paste_ul: fb, scp, imgur
#   If you don't want a local history of images/videos, 
#   set archive_img/archive_vid to "0"
#   keep in mind, that imgur does not support videos

ul=fb
paste_ul=fb
archive_vid=1
archive_img=1
archive_paste=1



#   quick option to quickly make a screenshot and upload in one go...
#   set quickArea to "-s" to enable Area, leave empty for Fullscreen
#   The "7." at the beginning is mandatory

quickArea=-s
quickDelay=0
quickName="7. Shot'n'Go"



#   Scp options

scp_host=
scp_path_img=
scp_path_vid=
scp_path_paste=
http_img=
http_vid=
http_paste=



#   Ffmpeg settings
#   Possible encoder options: libav and ffmpeg

encoder=ffmpeg
res=1920x1080
ffmpeg_x_offset=0,0

encopts="-r 30 \
         -vcodec libx264 \
         -pix_fmt yuv420p \
         -s $res \
         -acodec libmp3lame"

ffaudio="-f alsa \
         -ac 2 \
         -i pulse"

ffmpeg_display=$(echo $DISPLAY)


#   record indicator

rec_text="capturing..."
rec_w="100"
rec_x="800"
rec_y="0"
rec_font="Inconsolata-10"
rec_nf="#FFFFFF"
rec_sf="#000000"
